<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма</title>
</head>

<body>
    <form name="main-form" method="post" action="input1.php">
        <label for="fullname">Fullname:</label>
        <input type="text" placeholder="Name and Surname">
        <p>
            <label for="gender">Gender:</label>
        </p>
        <p><input type="radio" name="gender" id="gender"  value="female">Female
        <p>
        <p> <input type="radio" name="gender" value="male">Male </p>
        <label for="birth-date">Date of Birth:</label>
        <input type="date" id="birth-date" name="birth-date" value="2021-01-01" min="1900-01-01" max="2021-01-01">
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com">
        </p>
        <p>
            <label for="phone">Phone Number:</label>
            <input type="phone" id="phone" name="phone" placeholder="+380123456789">
        </p>
        <p>
            <label for="color">Background Color:</label>
            <input type="color" id="color" name="color">
        </p>
        <p>
            <label for="country">Country:</label>
            <input type="text" id="country" name="country" placeholder="Country">
        </p>
        <p>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" placeholder="City">
        </p>
        <p>Comment:</p>
            <textarea name="comment" cols="40" rows="3"></textarea>
        </p>
        <p><input type="submit" value="Create">
        </p>
    </form>

</body>

</html>